.logo {
  width: 40px;
  height: 40px;
}

.camera-wrapper {
  /* border-radius: 0.5rem;
  border: 1px solid hsl(var(--border)); */
  /* overflow: hidden; */
}

.camera-wrapper video {
  width: 100%;
  height: auto;
  display: block;
}
